<tr>
  <td><%= vm.fully_qualified_domain_name %></td>
  <td><%= vm.primary_ip_address %></td>
  <td><%= vm.primary_backend_ip_address %></td>
  <td><%= vm.provision_date.nil? ? '-' : vm.provision_date.to_date %></td>
  <td>
    <ul class="actions">
      <% if vm.active? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Reboot", reboot_virtual_machine_path(vm.id), remote: true, data: { loading_message: 'Rebooting Server' } %></li>
          <li><%= link_to "Power On/Off", power_cycle_virtual_machine_path(vm.id), remote: true, data: { loading_message: 'Power Cycling Server' } %></li>
          <li><a href="#">Rename Instance</a></li>
          <li><a href="#">View Audit Logs</a></li>
          <li><a href="#">Upgrade / Downgrade</a></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Cancel Device", virtual_machine_path(vm.id), remote: true, method: :delete, data: { loading_message: 'Destroying Server' } %></li>
        </ul>
      </li>
      <% end %>
    </ul>
  </td>
</tr>